/* Dış kapsayıcı */
.outerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login formunun tasarımı */
.loginContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

.loginContainer h1 {
    text-align: center;  /* Ortalıyor */
    margin-bottom: 20px; /* Inputlarla aradaki boşluk */
    font-size: 24px;     /* Yazı boyutu */
    color: #a894a5;         /* Yazı rengi */
    font-weight: 600;    /* Kalın yazı */
}

.loginContainer input[type="text"],
.loginContainer input[type="password"] {
    width: 75%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.loginContainer button {
    width: 50%;
    padding: 12px;
    background-color: #007bff;
    margin: 8px 0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.loginContainer button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.loginContainer button:active {
    background-color: #004085;
    transform: scale(1);
}
